@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./style.css/layout.css";

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: rgba(165, 42, 42, 0.815);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Barlow", sans-serif !important;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* for hero section up icon */
.slide-top {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    infinite;
  animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
